@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    box-sizing: border-box;
}
@layer base {
  body{
    @apply scroll-smooth;
  }
}
@layer components {
  .headerLink {
    @apply cursor-pointer opacity-75 transition hover:opacity-100 text-zinc-100 font-extralight px-4
    text-sm;
  }
}
.glassMorphism {
  @apply sticky w-full bg-black
   shadow-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-80 border border-gray-900
}

.headerIcon{
  @apply h-5 w-5 text-white opacity-75 hover:opacity-100 cursor-pointer 
}

.borderGradient {
  text-align: center;
  padding-bottom: 5px;
  background: linear-gradient(to right, #ec4899, #8b5cf6) left bottom
  no-repeat;
  background-size: 100% 2px;
 }

 .cartButton {
  @apply flex h-14 w-14 flex-shrink-0 cursor-pointer items-center
  justify-center rounded-full bg-gradient-to-r from-pink-500 to-violet-500 
  md:h-[70px] md:w-[70px] sm:h-[50px] sm:w-[50px] hover:bg-gradient-to-r hover:from-gray-800 hover:to-gray-900 
  hover:opacity-75 transition-all
}